@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans";
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(30deg, #070a2c, #070318, #000);
    color: white;
}

header{
    height: 6vw;
    margin-bottom: 1vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

header p{
    width: 96vw;
    text-align: center;
    border-bottom: 1px solid white;
}

.container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1vw;
}

.lang{
    flex: 1 1 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #070329,
    -1px -1px 10px #4a3a5a;
    padding: 1vw;
}

.lang img{
    height: 120px;
}

.lang .name{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}
