@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lexend";
}

body{
    background-image: linear-gradient(45deg, #312007, #0c0a02);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    height: auto;

}

.container{
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 1fr;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-2 box-2"
    "box-1 box-3 box-4"
    "box-5 box-5 box-6";
}

.child{
    background-color: bisque;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 2px 2px 0px #251901, -2px -2px 14px hsla(40, 93%, 12%, 0.911);
}

#cup{
    background-color: #cfc779;
    flex-direction: column;
    font-size: 1.19em;
    font-weight: 600;
}

#cup img{
    height: auto;
    width: auto;
    max-width: 100%;
    margin-top: 1vw;
}

#coffee-beans{
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: rgb(40, 66, 18);
    color: wheat;
    padding-left: 2vw;
}

#bean-text-heading{
    font-weight: 600;
}

#bean-text{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
    width: 275px;
}

#coffee-beans img{
    height: 150px;
    max-width: 100%;
    border-top-right-radius: 1em;
    position: absolute;
    top: 0;
    right: 0;
}

#center{
    flex-direction: column;
    font-size: 1em;
    font-weight: 500;
}

#center-text{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1vw;
}

#center-text-head{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

#bottom-text{
    padding-top: 1vw;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}

#rating{
    background-color: #cfc779;
    flex-direction: column;
    font-size: 1.2em;
    padding-right: 2.3vw;
    text-align: right;
}

#rating-text{
    text-align: left;
    font-weight: 600;
    font-size: 1.2em;
}

#stars{
    display: flex;
    justify-content: center;
    width: 165px;
    margin: 0.5em 0;
    padding: 0 1.5em;
    box-shadow: 1px 1px 2px #c0b555,
    -1px -1px 2px #dad293;
    border-radius: 10px;
}

#rating img{
    margin: 0 1em;
    width: 145px;
    height: auto;
}

#order{
    background-color: rgb(40, 66, 18);
}

#order-text{
    border-radius: 0.5em;
    border: none;
    box-shadow: 1px 1px 2px rgb(30, 53, 11),
    -1px -1px 2px rgb(47, 78, 22);
    background-color: #00000000;
    color: wheat;
    width: 4.5em;
    height: 3em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    font-size: 2em;
    font-weight: 700;
}

#order img{
    height: 135px;
}

#logo{
    margin: auto;
    width: 140px;
}

@media (max-width: 600px){
    .container{
        gap: 1em;
        grid-template-areas:
        "box-1 box-6"
        "box-1 box-2"
        "box-3 box-2"
        "box-5 box-4";
    }

    #coffee-beans{
        flex-direction: column;
        justify-content: space-evenly;
        position: static;
        height: auto;
    }

    #bean-text{
        width: 100%;
        font-size: 1.2em;
        margin-left: 1em;
        margin-bottom: 0;
    }

    #coffee-beans img{
        position: static;
        margin: 0;
    }

    #order{
        flex-direction: column;
        justify-content: center;
    }

    #order-text{
        margin: 0;
        padding: 0;
        height: 20%;
        width: 100%;
        font-size: 1.2em;
    }

    #order img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
